@import url('https://fonts.googleapis.com/css?family=Exo+2')

@font-face
  font-family: 'DINPro'
  src: url('../fonts/DINPro.ttf')  format('truetype')
  src: url('../fonts/DINPro.woff')  format('woff')




@mixin menu_main_text
  color: #242424
  font-family: 'DINPro', sans-serif

  @media screen and (max-width: 600px)
    font-size: 19px
    font-weight: 400

  @media screen and (min-width: 600px)
    font-size: 26px
    font-weight: 300

@mixin title_main_text
  color: #171616
  font-family: 'DINPro', sans-serif
  font-weight: 300

  @media screen and (max-width: 600px)
    font-size: 36px

  @media screen and (min-width: 600px)
    font-size: 48px

@mixin title_secondary_text
  color: #242424
  font-family: 'DINPro', sans-serif
  font-size: 28px
  font-weight: 300

@mixin content_text
  color: #1c1c1c
  font-family: 'DINPro', sans-serif
  font-size: 18px
  font-weight: 300

@mixin content_list_numbers
  color: #00b596
  font-family: 'DINPro', sans-serif
  font-size: 32px
  font-weight: 300

@mixin btn_text
  color: #feffff
  font-family: 'DINPro', sans-serif
  font-size: 18px
  font-weight: 500






